# Import OS library

In [ ]:
import os

# Set working directory

Update the below path within the single quotes as per your system setup.

In [ ]:
os.chdir('C:/Users/DhirenBharatRana/Documents/MPMD/Semester 2/DS/SECOM/Data Set')

# Validate working directory

In [ ]:
print(os.getcwd())

C:\Users\DhirenBharatRana\Documents\MPMD\Semester 2\DS\SECOM\Data Set

# Import pandas library

In [ ]:
import pandas as pd

# Import SECOM data and SECOM labels data

1. The data is being imported into a dataframe.
2. The separator here is space between two values.
3. There are no headers in the data file which is provided.

In [ ]:
secom_data = pd.read_csv('secom.data', sep=' ', header=None)
secom_labels_data = pd.read_csv('secom_labels.data', sep=' ', header=None)

# Check shape and type of the data

In [ ]:
print(secom_data.shape)
type(secom_data)

(1567, 590)
(1567, 2)

pandas.core.frame.DataFrame

In [ ]:
print(secom_labels_data.shape)
type(secom_labels_data)

(1567, 2)

pandas.core.frame.DataFrame

# Check sample data which is loaded

In [ ]:
secom_data.head(2)

,0,1,2,3,4,5,6,7,8,9,...,580,581,582,583,584,585,586,587,588,589
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.006,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.006,208.2045

In [ ]:
secom_labels_data.head(2)

   0                    1
0 -1  19/07/2008 11:55:00
1 -1  19/07/2008 12:32:00